:root {
  /*font-family: monospace;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[data-slate-editor='true'] {
  height: 100%;
  counter-reset: terminal-counter;
}

[data-slate-node='element'] {
  padding-left: 60px;
}

[data-slate-node='element']::before {
  position: absolute;
  left: 0;
  width: 30px;
  padding-right: 30px;
  text-align: right;

  counter-increment: terminal-counter;
  content: counter(terminal-counter) '';
}

.tooltip {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1;
  padding: 10px;
  flex-direction: column;
  transform: translate3d(100%, 0, 0);
  transition: transform 200ms;
}

.tooltip--visible {
  transform: translate3d(0, 0, 0);
}

.tooltip button {
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.layout > *:nth-child(1) {
  flex: 0;
  flex-basis: 10%;
}

.layout > * {
  flex: 1;
}

.fileName {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: transparent;
}

.fileName--selected {
  background-color: dodgerblue;
}

.filesTree {
  display: flex;
  flex-direction: column;
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*}*/
